@mixin mainButton(){
    color: #fff;
    background-color: rgb(141, 191, 179);
    border-style: none;
    box-shadow: 2px 2px 2px rgb(141, 191, 179, 40%);
    border-radius: 4px;
    font-family: $font-poppins-bold;
    width: 7rem;
    height: 1.5rem;
};