$color-primary-background: rgb(242, 235, 192, 25%);
$color-primary-navbar: rgb(243, 180, 98, 15%);
$color-primary-aquaGreen: rgb(141, 191, 179);
$color-primary-butto-shadow: rgb(141, 191, 179, 40%);
$color-primary-remove-button: rgb(244, 114, 111);
$color-primary-remove-button-shadow: rgb(244, 114, 111, 49%);


