@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100;1,300&display=swap');

$font-poppins-bold: 'Poppins', sans-serif;
$font-poppins-lightItalic: 'Poppins Light Italic', sans-serif;
$font-poppins-regular: 'Poppins Regular', sans-serif ;
$font-poppins-thinItalic: 'Poppins Thin Italic', sans-serif;


