@import "../../sass/buttons.scss";
@import "../../sass/fonts.scss";
@import "../../sass/colors.scss";

.main {
  .seeNoteWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;

    .backButton{
      @include mainButton($color-primary-aquaGreen, $color-primary-butto-shadow, true);
    }

    .writeNewButton {
      @include writeNewButton();
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 90%;
      left: 70%;
      transform: translate(-50%, -50%);

      .thePenSymbol {
        width: 3rem;
        height: 3rem;
      }
    }
    .writeNewButton:hover {
      background-color: $color-primary-aquaGreen;
    }

   
    .noteSection {
      background-color: rgba(245, 245, 245, 0.373);
      border: 2px solid $color-primary-aquaGreen;
      border-radius: 4px;
      min-width: 26rem;
      min-height: 10rem;
      padding: 3%;
      margin-bottom: 3rem;

      .theDate {
        @include fontDate();
        margin-bottom: 2%;
      }

      .theTitle {
        @include fontTitleInput();
        margin-bottom: 0.5rem;
      }

      .theNote {
        @include fontNote();
      }

      .signatureDivBox {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin: 1rem 1rem 1rem 0rem;

        .theHeartSymbol {
          max-width: 1rem;
          max-height: 1rem;
        }

        .theUsername {
          font-family: $font-ooohBaby-regular;
          font-size: 25px;
        }
      }
/**********THE UPDATE SECTION**********/

      .updateNoteButton{
        @include mainButton($color-primary-aquaGreen, $color-primary-butto-shadow, true);
        margin-right: 1rem;
      } 

      .deleteButton{
        @include mainButton($color-primary-aquaGreen, $color-primary-butto-shadow, true);
      } 
    }

    .updateSection {
      background-color: rgb(245, 245, 245);
      border: 2px solid $color-primary-aquaGreen;
      border-radius: 4px;
      min-width: 15rem;
      min-height: 10rem;
      padding: 3%;
      margin-bottom: 3rem;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .theDate {
        @include fontDate();
        margin-bottom: 2%;
        
      }

      .updateTitle {
        @include fontTitleInput();
        margin-bottom: 0.5rem;
      }

      .updateNote{
        @include fontNote();
      }

      .updateNote::placeholder{
        @include fontNoteInput();
      }

      .signatureDivBox {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin: 1rem 1rem 1rem 0rem;

        .theHeartSymbol {
          max-width: 1rem;
          max-height: 1rem;
        }

        .theUsername {
          font-family: $font-ooohBaby-regular;
          font-size: 25px;
        }
      }

      .abortButton{
        @include mainButton($color-primary-aquaGreen, $color-primary-butto-shadow, true);
        margin-right: 1rem;
      } 

      .confirmButton{
        @include mainButton($color-primary-aquaGreen, $color-primary-butto-shadow, true);
      } 

    }
  }
}

