@import "../../sass/fonts.scss";
@import "../../sass/buttons.scss";

.main {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  .mainWrapper {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .inputForm {
      display: flex;
      flex-direction: column;

      .userNameLable {
        @include fontStyle1();
      }

      .userNameInput {
        font-family: $font-poppins-bold;
      }
      .userNameInput::placeholder {
        @include fontstyleInput();
      }
    }

    .logInButton {
      @include mainButton($color-primary-aquaGreen, $color-primary-butto-shadow, true);
    }
  }
}
